


//
.col-md-12{
    width: 40%;
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
}

//
.card-container{
    background-color: azure;
}

// form-group
.form-group{
    padding: 10px;
}

// Mise en forme image profile
.ZoneImage{
    text-align: center;
    margin-top: 10px;
}
.profile-img-card{
    height: 70px;
    width: 70px;
    border-radius: 5px;

}