


//
.col-md-12{
    width: 40%;
    margin-top: 20px;
    margin-left: 30%;
}

//
.card-container{
    border: none;
}

// form-group
.form-group{
    padding: 10px;
}

.register_title{
    text-align: center;
}